body {
  font-family: Arial, sans-serif;
  /* background-color: #fff; This is the  shorthand */

  /* RGB */
  /* background-color: rgb(0,100,0); */
}
/* Color names */
.sporty {
  color: red;
}

/* Hex Values */
.casual {
  color: #e04553;
}

/* RGBA */
.card{
background-color: rgba(0,0,0,0.5);
}

/* HSL */
.card {
  background-color: hsl(0,100%,50%);
}

/* HSLA */
.card {
  background-color: hsla(0,100%,50%,0.2);
}
.card-2 {
  /* Opacity */
  background-color: #000;
  color: #fff;
  opacity: 0.2;
}