body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

header {
    background-color: #5e175b;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-indent: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: rebeccapurple;
}

a:active {
    color: red;
    background-color: turquoise;
}

ul {
    list-style: none;
    padding: 0;
}

ul.main-menu {
    color: #f4f4f4;
    text-indent: 10px;
    text-transform: uppercase;
}

p.lead {
    font-size: 20px;
    color: rebeccapurple;
    font-weight: bold;
}