body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: lightblue;
  width: 100%;
  display: flex;
}

.flex-item {
  background: coral;
  border: 1px solid black;
  padding: 20px;
  /* Flex: grow shrink basis. This is the order of the values */
  /* flex: 1 0 0; */
  flex: 1;
}

.item-1,
.item-2 {
  /* flex-shrink: 2; */
  /* flex-grow: 1; */
}

.item-3 {
  /* flex-grow: 2; */
  /* flex-shrink: 0; */
  /* flex-basis: 200px; */
  flex: 2;
}

.item-2 {
  flex: 3;
}