html
,body {
    font-family: 'Area', sans-serif;
    border: 4px solid red;
}

/* Type Selectors */
/* h2 {
    color: red;
    font-size: 30px;
}

a {
    color: blue;
    text-decoration: none;
} */
  /* Class Selectors */

.sporty {
    color: red;
}

.casual {
    color: blue;
}

.formal {
    color: brown;
}

/* ID Selector */

#container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}

/* Multiple Styles */
.sporty,
.casual {
    font-size: 35px;
}
p {
    background-color: lightgreen;
}

/* Descendant Styles */
#container p{
background-color: lightskyblue;
}