* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #c2ccd0;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 600px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 5px;
  margin: 15px;
  justify-content: space-around;
}

img {
  width: 250px;
  height: auto;
  object-fit: cover;
  width: 250px;
  height: 200px;
}
.photo-1 img {
  width: 115%;
  /* margin-left: 10px; */
  margin-top: -20px;
  padding: 0;
}


.img-con {
  display: flex;
  flex-direction: column;
}

.btn {
  /* background-color: #007BFF; */
  /* color: white; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
  align-self: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.btn-1 {
  background-color: #f01616;
  color: white;
}

.btn-2 {
  background-color: #0c48df;
  color: white;
}

.btn-3 {
  background-color: #5f2406;
  color: white;
}

.one {
  color: #f01616;
}
.two {
  color: #0c48df;
}
.three {
  color: #5f2406;
}
