* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #333;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: coral;
  color: #000;
}
section {
  padding-top: 20px;
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 30px;
  width: 100%;
  height: 40px;
  background-color: #e3dfe6;
  padding: 30px;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e3dfe6;
  margin-top: 20px;
}

h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: coral;
  color: #fff;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px;
}

aside ul li {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  line-height: 45px;
  align-items: center;
  padding-left: 10px;
  color: #333;
  border: 1px solid #c3b5cf;
}
